footer{
    background-color: rgb(78, 77, 77);
    padding-top: 1px;

    h3{
        font-size: 25px;
        color: white;
        margin-left: 25px;
    }

    li{
        list-style: none;
        font-size: 18px;
        margin-left: -15px;
        color: white;
        
        ul{
            text-decoration: none;

            a{
                text-decoration: none;
                color: white;
                padding: 15px;
            }
        }
    }
}