header{

    .logo{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

#menu_h{
    display: flex;

    .arrow{
        font-size: 25px;
        margin-top: 18px;
        margin-left: 20px;
        margin-right: -50px;
        color: black;
    }
}