@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bolditalic-webfont.woff") format("woff"), url("../fonts/roboto/roboto-bolditalic-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-bolditalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto/roboto-italic-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("../fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("../fonts/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("../fonts/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: unset;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .titre {
  font-family: 'Shrikhand',sans-serif;
}

header .logo {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
}

#menu_h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu_h .arrow {
  font-size: 25px;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: -50px;
  color: black;
}

footer {
  background-color: #2a2a2a;
  padding-top: 1px;
  padding-bottom: 20px;
}

footer .titre {
  font-size: 20px;
  color: white;
  margin-left: 25px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  footer .titre {
    font-size: 35px;
  }
}

footer li {
  list-style: none;
  font-size: 18px;
  margin-left: -15px;
  color: white;
}

@media (min-width: 768px) {
  footer li {
    font-size: 21px;
  }
}

footer li ul {
  margin-top: -10px;
}

footer li ul a {
  text-decoration: none;
  color: white;
}

footer li ul .foot_icon {
  padding-right: 2%;
}

main #location {
  background-color: #d8d2d2;
}

main #location .loca {
  font-size: 90%;
  padding: 20px;
  margin-left: 22%;
}

@media (max-width: 320px) {
  main #location .loca {
    margin-left: 15%;
  }
}

@media (min-width: 768px) {
  main #location .loca {
    font-size: 100%;
    margin-left: 35%;
  }
}

@media (min-width: 1024px) {
  main #location .loca {
    font-size: 120%;
    margin-left: 37%;
  }
}

main #location :before {
  padding-right: 15px;
}

main #text_h {
  background-color: #ebe4e4;
  margin-top: -35px;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}

main #text_h h3 {
  font-size: 180%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 40px;
  -webkit-text-stroke: medium;
}

main #text_h p {
  font-size: 125%;
  text-align: center;
}

main #text_h button {
  font-size: 17px;
  margin-left: 21%;
  margin-right: 21%;
  padding: 17px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  margin-top: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(100%, #9356DC), color-stop(50%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%, #9356DC 50%);
  color: white;
  border: none;
  -webkit-box-shadow: 2px 5px 10px 0px #3c4046;
          box-shadow: 2px 5px 10px 0px #3c4046;
}

main #text_h button:hover {
  -webkit-box-shadow: 2px 5px 10px 5px #6f7377;
          box-shadow: 2px 5px 10px 5px #6f7377;
}

@media (min-width: 768px) {
  main #text_h button {
    margin-left: 30%;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  main #text_h button {
    margin-left: 35%;
  }
}

main #working h4 {
  font-size: 26px;
  margin-left: 15px;
  -webkit-text-stroke: medium;
}

main #working #card_w {
  font-size: 20px;
  width: 100%;
}

@media (min-width: 1024px) {
  main #working #card_w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main #working #card_w .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  main #working #card_w .work {
    margin-left: 13%;
  }
}

@media (min-width: 1024px) {
  main #working #card_w .work {
    margin-left: 0px;
  }
}

main #working #card_w .work .numb {
  margin-left: 10px;
  margin-top: 15px;
  background-color: #9356DC;
  padding: 22px;
  border-radius: 40px;
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
  position: relative;
  line-height: 10px;
}

@media (min-width: 768px) {
  main #working #card_w .work .numb {
    padding: 27px;
  }
}

@media (min-width: 1024px) {
  main #working #card_w .work .numb {
    padding: 22px;
  }
}

main #working #card_w .work .work_t {
  background-color: #d3d3d345;
  padding: 25px;
  border-radius: 20px;
  width: 70%;
  margin-left: -20px;
  padding-left: 40px;
  padding-top: 30px;
  -webkit-box-shadow: 2px 5px 10px 0px #3c404659;
          box-shadow: 2px 5px 10px 0px #3c404659;
  -webkit-text-stroke: medium;
  font-size: 16px;
}

@media (min-width: 768px) {
  main #working #card_w .work .work_t {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  main #working #card_w .work .work_t {
    font-size: 18px;
  }
}

main #working #card_w .work .work_t :before {
  padding-right: 20px;
  color: gray;
}

main #working #card_w .work .work_t ::marker {
  background-color: #9356DC;
  padding: 20px;
}

main #resto {
  background-color: lightgray;
  width: 100%;
  padding-bottom: 50px;
}

main #resto h3 {
  font-size: 30px;
  margin-left: 5%;
  margin-bottom: 20px;
  padding-top: 50px;
  -webkit-text-stroke: medium;
}

main #resto .resto_c {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 285px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 5%;
  position: relative;
}

main #resto .resto_c .new_resto {
  position: relative;
}

main #resto .resto_c .new_resto img {
  width: 100%;
  height: 195px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

main #resto .resto_c .new_resto .new {
  position: absolute;
  color: #078969;
  background: #99E2D0;
  float: right;
  left: 70%;
  top: 3%;
  font-size: 15px;
  padding: 2% 4% 2% 4%;
  border-radius: 3px;
  font-weight: bolder;
}

@media (min-width: 768px) {
  main #resto .resto_c .new_resto .new {
    left: 80%;
  }
}

main #resto .resto_c .name_resto {
  position: absolute;
}

main #resto .resto_c .name_resto h4 {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
  -webkit-text-stroke: medium;
  color: black;
}

main #resto .resto_c .name_resto p {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-text-stroke: medium;
  color: black;
}

.heart_1 {
  position: absolute;
  font-size: 30px;
  left: 85%;
  bottom: 10%;
  color: black;
}

.heart_2 {
  opacity: 0;
  position: absolute;
  font-size: 30px;
  left: 85%;
  bottom: 10%;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.heart_2:hover {
  opacity: 1;
  color: #9356DC;
  -webkit-transition: -webkit-transform 3ms;
  transition: -webkit-transform 3ms;
  transition: transform 3ms;
  transition: transform 3ms, -webkit-transform 3ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#img_menu {
  width: 100%;
}

#menu {
  background-color: #f1f1f1;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  margin-top: -40px;
}

#menu .titre {
  margin-left: 15px;
  font-size: 30px;
}

#menu .titre ::before {
  margin-left: 120px;
}

#menu .service {
  margin-left: 15px;
  font-size: 19px;
  width: 10%;
  border-bottom: solid #99E2D0 3px;
}

#menu .plat_check {
  background-color: white;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 5px 10px 0px #3c404659;
          box-shadow: 2px 5px 10px 0px #3c404659;
  -webkit-animation: fadein 5s;
          animation: fadein 5s;
  -webkit-transform-origin: top 0%;
          transform-origin: top 0%;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#menu .plat_check .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  display: initial;
  width: 70%;
  padding-top: 10px;
}

#menu .plat_check .description strong {
  font-size: 20px;
}

#menu .plat_check .description p {
  margin: unset;
}

#menu .plat_check .prix {
  padding-top: 21px;
  padding-right: 20px;
}

#menu .plat_check .check {
  background-color: #99E2D0;
  color: white;
  font-size: 25px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
}

#menu button {
  font-size: 17px;
  margin-left: 21%;
  margin-right: 21%;
  padding: 17px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  margin-top: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(100%, #9356DC), color-stop(50%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%, #9356DC 50%);
  color: white;
  border: none;
  -webkit-box-shadow: 2px 5px 10px 0px #3c4046;
          box-shadow: 2px 5px 10px 0px #3c4046;
  margin-top: 35px;
  margin-bottom: 90px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  font-size: 20px;
}

#menu button:hover {
  -webkit-box-shadow: 2px 5px 10px 5px #6f7377;
          box-shadow: 2px 5px 10px 5px #6f7377;
}

.preloader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-animation: finish 1ms forwards;
          animation: finish 1ms forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes finish {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes finish {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.preloader .loader {
  border: black solid;
  width: 90%;
  height: 5%;
  position: relative;
}

.preloader .loader_bar {
  position: relative;
  background: #9356DC;
  height: 100%;
  -webkit-animation: loading 5s;
          animation: loading 5s;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes loading {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
