header img {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

header #location {
  background-color: #504545;
}

header #location .i {
  font-size: 25%;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

header #location .i :before {
  padding-right: 15px;
}
