 @mixin btn {
        font-size: 17px;
        margin-left: 21%;
        margin-right: 21%;
        padding: 17px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 30px;
        margin-top: 10px;
        background: linear-gradient( 180deg, #FF79DA 0%, #9356DC 100%, #9356DC 50% );
        color: white;
        border: none;
        box-shadow: 2px 5px 10px 0px #3c4046;

        &:hover{
              box-shadow: 2px 5px 10px 5px #3c4046;
              filter: brightness(1.05);
        }
 }

 @mixin menu_delay {
       animation: fadein 5s;
       transform-origin: top 0%;
       


       @keyframes fadein {
              from {
                  opacity:0;
              }
              to {
                  opacity:1;
              }
       }
}

      
@mixin end {
       animation: finish 1ms forwards ;
       animation-delay: 5s;

       @keyframes finish {
              from {
                   opacity: 1;
                   transform: scale(1);
              }
              to {
                   opacity: 0;
                   transform: scale(0);
              }
       }
} 

@mixin load {
       animation: loading 5s;
       transform-origin: 0% 50%;

       @keyframes loading {
              from {  
                   transform: scaleX(0);
                   
              }
              to {
                   transform: scaleX(1);
                   
              }
       }
       
}

@mixin check {
       animation: check 1s forwards;
       transform-origin: 50% 0%;
       

       @keyframes check {
              from{
                     width: 1%;
              }
              to{
                     width: 27%;;
              }
              
       }
}