 @mixin btn {
        font-size: 17px;
        margin-left: 21%;
        margin-right: 21%;
        padding: 17px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 30px;
        margin-top: 10px;
        background: linear-gradient( 180deg, #FF79DA 0%, #9356DC 100%, #9356DC 50% );
        color: white;
        border: none;
        box-shadow: 2px 5px 10px 0px #3c4046;
 }